body {
  background: url(C:/Users/lacke/Desktop/Epicodus/project-week4/img/pizza.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron{
  text-align: center;
  background-color: rgba(165, 165, 165, 0.5);
  color: white;
}

.well {
  background-color: rgba(165, 165, 165, 0.5);
  color: white;
}

.flex-outer, 
.flex-inner{
  list-style-type: none;
  padding: 0;
}

.flex-outer > li > ul{
  padding: 0;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
}

.flex-inner {
  justify-content: space-between;
}

.flex-outer > li > ul > li,
.flex-inner > li {
  flex: 3 0 200px;
  padding: 0;
}

#checkout {
  display: none;
}

.sizeChoice,
.toppingsChoice {
  list-style-type: none;
  padding: 0;
}

#checkout > ul > li {
  font-weight: bold;
}

#orderConfirmed {
  display: none;
}




